conf/v3_0/xsd/cc055c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="60.4.16" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE055: E_GUA_INV                                                          -->
  <!--===== GUARANTEE NOT VALID                                                       -->
  <!--===== NCTS Phase 6 - DDNTA-6.4.1-v1.00                                          -->
  <!--===== XSD Version 60.4.16                                                       -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                  -->
  <!--================================================================================-->
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:include schemaLocation="htypes.xsd" />
  <!--================================================================================-->
  <!--===== Root Element                                                              -->
  <!--================================================================================-->
  <xs:element name="CC055C" type="CC055CType" />
  <!--================================================================================-->
  <!--===== Root Element Content                                                      -->
  <!--================================================================================-->
  <xs:complexType name="CC055CType">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="TransitOperation" type="TransitOperationType60">
        <xs:annotation>
          <xs:documentation>
            <description value="TRANSIT OPERATION" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficeOfDeparture" type="CustomsOfficeOfDepartureType05">
        <xs:annotation>
          <xs:documentation>
            <description value="CUSTOMS OFFICE OF DEPARTURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HolderOfTheTransitProcedure" type="HolderOfTheTransitProcedureType07">
        <xs:annotation>
          <xs:documentation>
            <description value="HOLDER OF THE TRANSIT PROCEDURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GuaranteeReference" maxOccurs="99" type="GuaranteeReferenceType07">
        <xs:annotation>
          <xs:documentation>
            <description value="GUARANTEE REFERENCE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PhaseID" type="phaseIDtype" />
  </xs:complexType>
</xs:schema>
