conf/v3_0/xsd/cc917c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="60.4.16" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE917: N_XML_NCK                                                          -->
  <!--===== XML NACK                                                                  -->
  <!--===== NCTS Phase 6 - DDNTA-6.4.1-v1.00                                          -->
  <!--===== XSD Version 60.4.16                                                       -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                  -->
  <!--================================================================================-->
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:include schemaLocation="htypes.xsd" />
  <!--================================================================================-->
  <!--===== Root Element                                                              -->
  <!--================================================================================-->
  <xs:element name="CC917C" type="CC917CType" />
  <!--================================================================================-->
  <!--===== Root Element Content                                                      -->
  <!--================================================================================-->
  <xs:complexType name="CC917CType">
    <xs:sequence>
      <xs:group ref="MESSAGE" />
      <xs:element name="Header" minOccurs="0" type="HeaderType02">
        <xs:annotation>
          <xs:documentation>
            <description value="HEADER" />
            <optionality value="O" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="XMLError" maxOccurs="9999" type="XMLErrorType">
        <xs:annotation>
          <xs:documentation>
            <description value="XML ERROR" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PhaseID" type="phaseIDtype" />
  </xs:complexType>
</xs:schema>
