conf/v2_1/xsd/cc014c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:extensions="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ncts.dgtaxud.ec" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" targetNamespace="http://ncts.dgtaxud.ec" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="51.8.6" vc:minVersion="1.1">
  <!--================================================================================-->
  <!--===== IE014: E_DEC_INV                                                                -->
  <!--===== DECLARATION INVALIDATION REQUEST                                                -->
  <!--===== NCTS P5 Phase Definition                                                        -->
  <!--===== XSD Version 51.8.6                                                              -->
  <!--================================================================================-->
  <!--================================================================================-->
  <!--===== Includes                                                                        -->
  <!--================================================================================-->
  <xs:import namespace="urn:eds:datamodel:EDS:EDS_EXTENSIONS:1" schemaLocation="../EDS/EDS_EXTENSIONS.xsd"/>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:include schemaLocation="htypes.xsd" />
  <!--================================================================================-->
  <!--===== Root Element                                                                    -->
  <!--================================================================================-->
  <xs:element name="CC014C" type="CC014CType" />
  <!--================================================================================-->
  <!--===== Root Element Content                                                            -->
  <!--================================================================================-->
  <xs:complexType name="CC014CType">
    <xs:sequence>
      <xs:element name="Extensions" type="extensions:ExtensionType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:group ref="MESSAGE" />
      <xs:element name="TransitOperation" type="TransitOperationType05">
        <xs:annotation>
          <xs:documentation>
            <description value="TRANSIT OPERATION" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Invalidation" type="InvalidationType02">
        <xs:annotation>
          <xs:documentation>
            <description value="INVALIDATION" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomsOfficeOfDeparture" type="CustomsOfficeOfDepartureType03">
        <xs:annotation>
          <xs:documentation>
            <description value="CUSTOMS OFFICE OF DEPARTURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HolderOfTheTransitProcedure" type="HolderOfTheTransitProcedureType02">
        <xs:annotation>
          <xs:documentation>
            <description value="HOLDER OF THE TRANSIT PROCEDURE" />
            <optionality value="R" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PhaseID" type="phaseIDtype" />
  </xs:complexType>
</xs:schema>
